<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мудрость</title>
</head>
<body>
<h2>Мудрость дня: </h2>
<span style = "color:red">${wisdom}</span>
<form action="" method="post">
    Поделитесь мудростью:<br/>
    <textarea name="user_wisdom" cols="40" rows="3" maxlength="255">Напишите сюда Вашу мудрость!</textarea>
    <br/>
    <input type="submit" value="Отправить"/>
</form>

</body>
</html>